 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.


# Objectives:

* [ Python ] 
* [ Sql ] 
* [Data Science Tools and Libraries ]

Some of the popular languages that Data Scientists use are: 
    1. Python
    2. Java
    3. R

Some of the commonly used libraries used by Data Scientists include:
    1. Pandas
    2. Scikit-learn
    3. TensorFlow
    4. PyTorch

Data Science Tools
-----------------------------------------------------------------------------------------------------------
Python          
R               
SQL             
Tableau         
Apache Spark    
Excel

# Evaluating Arithmetic Expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author:
Roberto J. Benavidez